<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title> Models | Zolware</title>
    
    <% include ./partials/headcommon %>

    <link href="/static/css/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/css/project.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
   <% include ./partials/navbar %>
	 <div id="contentwrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12 margin-bottom-30">
					<!-- BEGIN Portlet PORTLET-->
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption caption-blue">
								<span class="caption-subject text-uppercase"> Models</span>
							</div>
							<div class="actions">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="modal" data-target="#newProjectModal">
								<span class="glyphicon glyphicon-pencil" style="margin-right: 0px;"></span>
							Add 
							</button>
							</div> 
						</div>
						<div class="portlet-body">
							<table class="table table-striped custab">
								<thead>
									<tr>
										<th>Name</th>
										<th class="hidden-xs hidden-sm">Description</th>
										<th class="hidden-xs hidden-sm">Tags</th>
										<th class="hidden-xs hidden-sm">Date added</th>
										<th></th>
									</tr>
								</thead>
								<% if(models) { %>
									<% if(models.length > 0) { %>
										<% for(var i=0; i < models.length; i++) { %>
											<tr>
												<td>
													<a href="/models/<%= models[i]._id %>">
														<%= models[i].name %>
													</a>
												</td>
												<td class="hidden-xs hidden-sm">
													<%= models[i].description %>
												</td>
												<td class="hidden-xs hidden-sm">
													No tags
												</td>
												<td class="hidden-xs hidden-sm">
													<%= models[i].updatedAt %>
												</td>
												<td>
													<form method="POST" action="/models/delete/<%= models[i]._id %>" accept-charset="UTF-8" style="display:inline">
    												<button class="btn btn-sm btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete" data-title="Delete User" data-message="Are you sure you want to delete this model?">
        											Delete
    												</button>
													</form>
												</td>
											</tr>
										<% } %>
										<% } else { %>
										<tr>
											<td colspan="9"> No models defined. Click add to create new model</td>
										</tr>
									<% } %>
									<% } %>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ./partials/footer %>

	<script src="/static/js/common.js"></script>
	<script src="/static/js/modelapp.js"></script>
	<script src="/static/js/handlers.js"></script>
	<% include ./partials/add_model_modal %>
	<% include ./partials/delete_modal %>
  </body>
</html>