<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Zolware</title>
    <% include ./partials/headcommon %>
    <link href="/static/css/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/css/project.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-datasource_id="<%= datasource._id %>">
    <% include ./partials/navbar %>
		<div id="contentwrap">
			<div class="container">
				<div class="row">
					<div class="col-md-6 margin-bottom-30">
						<div class="portlet">
							<div class="portlet-title">
								<div class="caption">
									<span class="caption-subject text-uppercase"> Data source summary</span>
								</div>
								<div class="actions">
									<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#editDatasourceModal">Edit</button>
								</div>
							</div>
							<div class="portlet-body">
								<h4><%= datasource.name %> </h4>
								<p>
									<%= datasource.description %>
								</p>
								<% if(datasource.data_source == "data_source_file") { %>
										<% if(datasource.data_source == "data_source_file") { %>
												<p>Source: file [<%= datasource.file_uri %>]</p>
										<% } %>
								<% } else  if(datasource.data_source == "data_source_s3") { %>
										<p>Source: S3 [<%= datasource.s3_bucket %>:<%= datasource.s3_file %>]</p>
								<% } %>
								
									<% //include ./partials/datasource_settings_form %>
								
								
								<a id="showAddSignalForm" href="" class="btn btn-sm btn-primary">
									<i class="fa fa-plus fa-1x"></i> Signal
								</a>
								<a href="/plot/<%= datasource._id %>" class="btn btn-sm btn-primary pull-right">Plot</a>
								<br>
							</div>
						</div>
					</div>
					<div class="col-md-6 margin-bottom-30">
						<div class="portlet">
							<div class="portlet-title">
								<div class="caption caption-red">
									<span class="caption-subject text-uppercase"> Sharing</span>
								</div>
								<div class="actions">
								</div>
							</div>
							<div class="portlet-body">
								<a href="" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#share-datasource"><i class="fa fa-share fa-1x"></i> Share this datasource</a>
								<hr>
								<div id="datasource_shares">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="add_signal_form" class="row" style="display:none;">
					<div class="col-md-12 margin-bottom-30">
						<div class="portlet">
							<% include ./partials/add_signal_form %>
						</div>
					</div>
				</div>
				<% if(datasource.type == "test_signals") { %>
					<div class="row">
						<div class="col-md-12 margin-bottom-30">
							<!-- BEGIN Portlet PORTLET-->
							<div class="portlet">
								<div class="portlet-title">
									<div class="caption">
										<span class="caption-subject text-uppercase"> Signals</span>
									</div>
									<div class="actionss">
									</div>
									<div class="portlet-body">
										<% if(datasource.signals.length > 0) { %>
											<table class="table table-striped custab">
												<thead>
													<tr>
														<th>Name</th>
														<th class="hidden-xs hidden-sm">Type</th>
														<th class="hidden-xs hidden-sm">Description</th>
														<th class="text-center"></th>
													</tr>
												</thead>
												<% for(var i=0; i < datasource.signals.length; i++) { %>
													<tr>
														<td>
															<a href="/datasources/<%= datasource._id %>/signals/<%= datasource.signals[i]._id %>">
																<%= datasource.signals[i].name %>
															</a>
														</td>
														<td class="hidden-xs hidden-sm">
															<strong><%= datasource.signals[i].data_type %></strong>
														</td>
														<td class="hidden-xs hidden-sm">
															<%= datasource.signals[i].description %>
														</td>
														<td class="text-center">
															
															<form method="POST" action="/datasources/<%=datasource._id %>/deletesignal/<%= datasource.signals[i]._id %>" accept-charset="UTF-8" style="display:inline">
    												<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete" data-title="Delete signal" 
																		data-message="Are you sure you want to delete this signal?">
        											Delete
    												</button>
													</form>
															<button class="btn btn-xs btn-info" type="button">Active</button>
															<button class="btn btn-xs btn-info" type="button"><i class="fa fa-arrow-up fa-1x"></i> </button>
															<button class="btn btn-xs btn-info" type="button"><i class="fa fa-arrow-down fa-1x"></i> </button>
														</td>
													</tr>
												<% } %>
											</table>
										<% } %>
									</div>
								</div>
							</div>
						</div>
						<% } %>
					</div>
			</div>
		</div>
		<% include ./partials/delete_signal_modal %>
		<% include ./partials/share_datasource_modal %>
		<% include ./partials/commonjs %>
		<script src="/static/components/moment/min/moment.min.js"></script>
		<script src="/static/js/datasource.js"></script>
		<% include ./partials/delete_modal %>
  	<% include ./partials/footer %>
  </body>
</html>