<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title> Data sources | Zolware </title>
    
    <% include ./partials/headcommon %>
    <link href="css/style.css" rel="stylesheet">
		<link href="css/project.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <% include ./partials/navbar %>
		<div id="contentwrap">
			<div class="container">
				<div class="row">
					<div class="col-md-12 margin-bottom-30">
						<div class="portlet">
							<div class="portlet-title">
								<div class="caption caption-blue">
									<span class="caption-subject text-uppercase"> Data sources</span>
								</div>
								<div class="actions">
									<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#newDatasourceModal">
									Add 
									</button>
								</div>
							</div>
							<div class="portlet-body">
								<table class="table table-striped custab">
									<thead>
										<tr>
											<th>Name</th>
											<th>Description</th>
											<th>Used in project(s)</th>
											<th></th>
										</tr>
									</thead>
									<% if(datasources.length > 0) { %>
										<% for(var i=0; i < datasources.length; i++) { %>
											<tr>
												<td>
													<a href="/datasources/<%= datasources[i]._id %>">
														<%= datasources[i].name %>
													</a>
												</td>
												<td>
														<%= datasources[i].description %>
												</td>
												<td>
													<% if(datasources[i].projects.length > 0) { %>
														<% for(var j=0; j < datasources[i].projects.length; j++) { %>
														 <a  href="/projects/<%= datasources[i].projects[j]._id %>">
															 <%= datasources[i].projects[j].name %></a><br>
														<% } %>
													<% } %>
												</td>
												<td>
												<form method="POST" action="/datasources/delete/<%= datasources[i]._id %>" accept-charset="UTF-8" style="display:inline">
															<button class="btn btn-sm btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete" data-title="Delete User" 
																			data-message="Are you sure you want to delete this datasource?">
																Delete
															</button>
														</form>
												</td>
											</tr>
										<% } %>
									<% } else { %>
										<tr>
											<td colspan="9"> No data sources defined. </td>
										</tr>
									<% } %>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	
		<% include ./partials/footer %>
		<script src="/static/js/common.js"></script>
				<!-- Modals -->
		<% include ./partials/delete_modal %>
		<% include ./partials/add_datasource_modal %>
  </body>
</html>